body{ background-color: rgba(214, 151, 186, 0.742);
color: rgba(92, 92, 92, 0.973);
}

section{
    background-color: #f0ffff;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: 5%;
    
}
header{
    margin: 5%;
    font-size: 20px;
    text-align: center;
}

img{
    height: 200px;
}